<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StackNoti.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AFB7D9191D38B2A000713140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFB7D92D1D38B2A000713140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFB7D9381D38B2A000713140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
